/*****Base Styles******/
body {
    font-family: 'Roboto', sans-serif;
    color: #0b3681;
    font-size: 24px;
    width: 1400px;
    margin: auto;
}

/*****Grid Styles*****/
.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;    
    float: left;
}

/*****Header*****/
header {
    height: 800px;
    background: url('../img/hero-blue.png');
    background-size: cover;
}

header h1{
    font-family: 'Quicksand', 'sans-serif';
    font-size: 60px;
    color: #06d1ff;
    text-align: center;
    width: 1200px;
    padding: 338px 0px 0px 0px;
    font-weight: bold;
}

header h2 {
    color: #0b3681;
    font-size: 48px;
    width: 788px;
    text-align: center;
    padding-left: 200px;
    font-weight: 300;
}

/*****Work*****/
#work {
    font-size: 24px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    height: 1450px;
}
#work p span, #about p span {
    font-weight: bold;
}
#work h2 {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px;
}
#work img {
    width: 550px;
    height: 350px;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
}
.text-box {
    height: 350px;
}
#work .half-width {
    margin-bottom: 50px;
}
/*****About*****/
#about {
    height: 650px;
    color: #ffffff; 
    background-color: #0489b1;
    text-align: left;
    padding-top: 25px;
}
#about h2 {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 36px;
    text-align: center;
    margin-top: 25px;
}
#about p {
    width: 600px;
}
#about img {
    height:425px;
    width: 425px;
    padding-top: 50px;
    padding-left: 40px;
}
/*****Contact*****/
#contact {
    height: 400px;
    color: #ffffff;
    background-color: #0b3681;
    padding: 1px;
    text-align: center;
}
#contact h2 {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 36px;
    text-align: center;
}
#contact h4 {
    margin:25px;
    text-align: center;
}
#contact img {
    padding-left: 5px;
    padding-right: 50px;
}
a:link {
    text-decoration: none;
    color: #ffffff;
}
#contact ul {
    list-style-type: none;
}
#contact li {
    display: inline-block;
}
